:root {
  --branding-color: #6c63ff;
  --secondary-color: #faf9f6;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.carousel-item {
  height: 32rem;
  position: relative;
}
